.alura-geek {
    font-size: x-large;
}

.alura-geek-azul {
    font-size: x-large;
    color: #2A7AE4;
}

.ver-todo-link {
    color: #2A7AE4;
    text-decoration: none;
}

.contenedor-articulos {
    padding: 30px;
}

.footer-form {
    background: #EAF2FD;
}